{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Essay Instructions
{% endblock %}

{% block content %}

    <p>On the next page, you will be asked to write a 300 word essay on a randomly assigned topic. </p>

   <p>You will be given 10 minutes to come up with the same.</p>

   <p>The essay will solely be judged on the content, and not on form, so you do not have to worry too much about grammar
    or spellings, or even making paragraphs. You may choose to write sentences in the form of points.</p>

    <p>Please write whatever you feel about the given subject.</p>

   <p>Remember that this is not a test, and your responses will be anonymous.</p>

  <p>At the end of the exercise, we will judge which essay conveys the most amount of information, and will reward the winner with a prize of INR 1,000!</p>

   <p>Your topic for the essay is given below.</p>


    <p>
    <b>Concept of honour as taught by your parents</b>

    <p> Indians across cultures, religions, languages are united by the concept of honour (in English), izzat (in Urdu), maan (in Hindi). </p>
    <p> Write approximately 300 words about this concept on the next page. </p>
    <p> Feel free to talk about what the idea of honour means to you, and how it has been taught to you by your family, especially your mother and father.</p>
    <p>You can give examples when you thought you, or somebody you know acted honourably. This could even be a public figure.</p>
    <p> We realise that honour could have a different conception for you, so do not be hesitant to write what it means specifically to you. </p>


    </p>
    {% next_button %}



{% endblock %}
