{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    StartPage
{% endblock %}

{% block content %}

    <p>On the next page, you will be asked to write a 300 word essay on a randomly assigned topic. </p>

   <p>You will be given 10 minutes to come up with the same.</p>

   <p>The essay will solely be judged on the content, and not on form, so you do not have to worry too much about grammar
    or spellings, or even making paragraphs. You may choose to write sentences in the form of points.</p>

    <p>Please write whatever you feel about the given subject.</p>

   <p>Remember that this is not a test, and your responses will be anonymous.</p>

  <p>At the end of the exercise, we will judge which essay conveys the most amount of information, and will reward the winner with a prize of INR 2,000!</p>

   <p>Your topic for the essay is given below.</p>


    <p>
    <b>The importance of reading.</b>

    <p> Reading is prescribed as a hobby to us from a very young age, by people all around us. </p>
    <p> Write approximately 300 words about how important reading is to you, and in general. </p>
    <p> Feel free to talk about what books, newspapers, comics, etc. you like to read, and how it has been helped you so far.</p>
    <p>You can use anecdotes or instances from your life and that of those around you to discuss how reading is beneficial. </p>
    <p>If you think there are comparable hobbies, please feel free to mention those as well.  </p>


    </p>
    {% next_button %}



{% endblock %}
